* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 232px;
}

#container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calcular {
    margin-top: 10px;
}

#res {
    margin-top: 10px;
}