* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.btn {
    background-color: rgb(2, 8, 8);
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .4s;
}

.btn:hover {
    background-color: rgba(5, 5, 5, 0.973);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}